@charset "utf-8";
/* 全てに共通　*/
html, body {
	font-size: 16px;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
	color: #393939;
	text-align: center;
	background: #fafafa;
}

body, div, p, h1, h2, h3, h4, ul, figure {
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.none {
	display: none;
}

/*widthの設定*/
.w980px {
	width: 980px !important;
}

/*margin-top の設定*/
.t0M {
	margin-top: 0 !important;
}
.t5M {
	margin-top: 5px !important;
}
.t10M{
	margin-top: 10px !important;
}
.t15M {
	margin-top: 15px !important;
}
.t20M {
	margin-top: 20px !important;
}
.t30M {
	margin-top: 30px !important;
}
.t40M {
	margin-top: 40px !important;
}

/*margin-bottom の設定*/
.b10M {
	margin-bottom: 10px !important;
}
.b20M {
	margin-bottom: 20px !important;
}
.b30M {
	margin-bottom: 30px !important;
}
.b40M {
	margin-bottom: 40px !important;
}

/*margin-left の設定*/
.l5M {
	margin-left: 5px !important;
}
.l10M {
	margin-left: 10px !important;
}
/*margin-right の設定*/
.r10M {
	margin-right: 10px !important;
}
/*paddingの設定*/
.noneP {
	padding: 0 !important;
}
.a10P {
	padding: 10px !important;
}
/*padding-top の設定*/
.t10P {
	padding-top: 10px !important;
}

.t20P {
	padding-top: 20px !important;
}

.t25P {
	padding-top: 25px !important;
}
/*padding-bottom の設定*/
.b20P {
	padding-bottom: 20px !important;
}

/*padding-left　の設定*/
.l10P {
	padding-left: 10px;
}

/*text-align*/
.taL {
	text-align: left !important;
}
.taC {
	text-align: center !important;
}
/*t,r,ts*/
.t10 {
	top: 10px !important;
}
.r0 {
	right: 0 !important;
}
.ts10 {
	font-size: 10px !important;
}
.tcgray {
	color: #cdcdcd !important;
}

.bar {
	border-bottom: 1px #cdcdcd solid;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

a.nav {
	color: #fafafa;
}

.li {
	list-style: none;
}

.fa {
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝テンプレート部分ここから＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/*グローバルナビの背景色を画面いっぱいまで表示*/
header {
	background: #4ea6cc;
}

/*各innerでパディング、背景、テキスト色を設定*/
.global-navi__inner {
	background: #4ea6cc;
	padding: 0 10px 0 17px;
	margin: 0 auto;
	height: 60px;
}
.left-menu__inner {
	background: transparent;
}
.right-menu__inner {
	background: transparent;
}

/*logo size*/
.global-navi__logo--image {
	width: 120px;
}

/*navbar左側のfloat*/
.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

.global-navi__logo {
	float: left;
	padding-top: 10px;
	padding-left: 5px
}
.left-menu__inner {
	float: left;
	padding-top: 10px;
	padding-left: 5px
}
.left-menu__list--ul li {
	float: left;
	padding: 10px 15px 0 0;
}

/*global-navi左側の次にくるsearchbarを横付け*/
.left-menu__container {
	float: left;
	margin: 0 20px 0 0;
}

/*global-naviの左側を右寄せ横並びするための記述*/
.search-area {
	float: left;
	padding: 10px 15px;
	position: relative;
}
.global-navi__search-area {
	padding: 5px 15px;
	position: relative;
}

.right-menu__inner {
	float: right;
}
.right-menu__box {
	float: left;
}
.right-menu__dropdown-menu {
	float: right;
}

/*search-area見た目調整*/
.select-genre {
	position: absolute;
	top: 5px;
	left: 0;
	padding: 0 8px;
	height: 34px;
	line-height: 34px;
	width: 72px;
	box-sizing: border-box;
	border-radius: 5px 0 0 5px;
	border: none;
	background-color: #ededed;
	color: #646464;
	font-size: 10px;
	letter-spacing: 0.1px;
	-webkit-appearance: none;
}
option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}
.fa-caret-down {
	position: absolute;
	font-size: 16px;
	color: #a1a1a1;
	top: 15px;
	left: 56px;
	pointer-events: none;
}
.textbox {
	position: absolute;
	top: 5px;
	left: 72px;
	width: 220px;
	height: 34px;
	box-sizing: border-box;
	font-size: 12px;
	letter-spacing: 0.2px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0 30px 0 10px;
	color: #a1a1a1;
	background-color: #f5f5f5;
}
input {
	border: none;
	font: inherit;
	margin: 0;
	-webkit-rtl-ordering: logical;
	cursor: text;
	text-rendering: auto;word-spacing: normal;
	text-transform: none;
	display: inline-block;
	text-align: start;
}
button {
	position: absolute;
	top: 5px;
	left: 256px;
	height: 34px;
	border: none;
	background: none;
	color: #4ea6cc;
}
/*--------------右側のメニュー----------*/

/*dropdown menu*/
.dropdown {
	z-index: 4000;
	position: absolute;
	background: #FFF;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	right: -92px;
	left: -145px;
	top: 60px;
	width: 180px;
}
.dropdown ul {
	margin: 5px 0 0;
}
.dropdown li {
	margin: 0;
	padding: 2px 0;
	width: 100%;
}

.dropdown a {
	position: relative;
	display: block;
	color: #1e1e1e;
	padding: 6px 15px;
}
.dropdown a:hover {
	color: #4ea6cc;
}
.global_menu_bnr_app.png {
	width: 150px;
	height: 50px;
}
.dropdown::before {
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	top: -7px;
	bottom: 100%;
	left: 85%;
	background-color: #fff;
	transform: rotate(225deg);
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.4);
	border: solid transparent;
	content: " ";
	pointer-events: none;
}

.dropdown::after {
	left: 155px;
}
/*FontAwesomeのアイコン色*/
.fa-twitter {
	color: #1dadea;
}
.fa-facebook-square {
	color: #4861a8;
}


.right-menu__dropdown-menu {
	position: relative;
	float: left;
	width: 40px;
}
.right-menu__button {
	width: 40px;
	height: 40px;
	display: block;
	background: url("/images/humburger.png");
	background-size: 40px 60px;
	background-repeat: no-repeat;
	background-position: center center;
}


/*right-menu要素の間隔調整*/
.right-menu__inner {
	text-align: left;
}
.nav {
	text-align: center;
	font-size: 14px;
}
.right-menu__box {
	margin-top: 3px;
	margin-right: 15px;
	position: relative;
	width: 100px;
	height: 30px;
	padding: 0 5px 0 10px;
}

/*right-menuのボタン風*/
.signup {
	display: block;
	width: 100px;
	height: 22px;
	padding-top: 11px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	background-color: #da4740;
	top: 14px;
	border-radius: 3px;
	font-size: 13px;
}
.login {
	display: block;
	width: 100px;
	height: 22px;
	padding-top: 11px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	background-color: #393939;
	top: 14px;
	border-radius: 3px;
	font-size: 13px;
}

/*footer*/
#footer {
	position: relative;
	margin: 30px auto 0;
	padding: 30px 0 5px;
	width: 100%;
	height: 100%;
	background: #e4e4e4;
	text-align: center;
	& div {
		text-align: left;
	}
}

.footer__container {
	margin: 5px auto 15px;
	padding: 30px;
	width: 730px;
	background: #fff;
	border-radius: 10px;
	text-align: left;
}
/*footer共通要素*/
h3 {
	margin: 0 0 4px;
	padding: 0;
	border: none;
	background: none;
	color: #333;
	font-weight: bold;
	font-size: 12px;
}
footer ul{
	margin: 0 0 15px;
}
footer ul li {
	font-size: 11px;
	line-height: 1.8em;
}
footer ul li a {
	color: #656565;
}

.page__container {
	background-color: #fafafa;
}
/*borderのあるlist*/
.border {
	margin: 0 0 5px;
	padding: 0 0 5px;
	border-bottom: 1px #cdcdcd solid;
}

/*area1*/
.area1 {
	width: 130px;
	float: left;
	padding: 0 40px 0 0;
}

/*area2*/
.area2 {
	width: 160px;
	float: left;
	padding: 0 40px 0 0;
}

/*area3*/
.area3 {
	width: 150px;
	float: left;
	padding: 0 40px 0 0;
}

/*area4*/
.area4 {
	width: 130px;
	float: left;
	padding: 0 40px 0 0;
}
/*area5*/
.area5 {
	width: 200px;
	padding: 0;
	float: left;
}
.bnr_booklog {
	width: 200px;
	height: 230px;
}

/*footer-navi*/
.footer-navi {
	margin: 5px auto 15px;
	width: 960px;
	text-align: center;
}
.footer-navi__container ul {
	float: left;
	width: 440px;
	text-align: left;

	& li {
		font-size: 11px;
		line-height: 1.8em;
		display: inline;
		color: #a1a1a1;
		& a {
			color: #656565;
		}
	}
}

address {
	float: right;
	width: 435px;
	color: #a1a1a1;
	text-align: right;
	font-style: normal;
	font-size: 11px;
	& a {
		color: #a1a1a1;
	}
}
