/*widthの設定*/
.w980px {
	width: 980px !important;
}

/*margin-top の設定*/
.t0M {
	margin-top: 0 !important;
}
.t5M {
	margin-top: 5px !important;
}
.t10M{
	margin-top: 10px !important;
}
.t15M {
	margin-top: 15px !important;
}
.t20M {
	margin-top: 20px !important;
}
.t30M {
	margin-top: 30px !important;
}
.t40M {
	margin-top: 40px !important;
}

/*margin-bottom の設定*/
.b10M {
	margin-bottom: 10px !important;
}
.b15M {
	margin-bottom: 15px !important;
}
.b20M {
	margin-bottom: 20px !important;
}
.b30M {
	margin-bottom: 30px !important;
}
.b40M {
	margin-bottom: 40px !important;
}

/*margin-left の設定*/
.l5M {
	margin-left: 5px !important;
}
.l10M {
	margin-left: 10px !important;
}
.l25M {
	margin-left: 25px !important;
}
/*margin-right の設定*/
.r10M {
	margin-right: 10px !important;
}
/*paddingの設定*/
.noneP {
	padding: 0 !important;
}
.a10P {
	padding: 10px !important;
}
/*padding-top の設定*/
.t10P {
	padding-top: 10px !important;
}

.t20P {
	padding-top: 20px !important;
}

.t25P {
	padding-top: 25px !important;
}
/*padding-bottom の設定*/
.b20P {
	padding-bottom: 20px !important;
}

/*padding-left　の設定*/
.l10P {
	padding-left: 10px;
}

/*text-align*/
.taL {
	text-align: left !important;
}
.taC {
	text-align: center !important;
}
/*t,r,ts*/
.t10 {
	top: 10px !important;
}
.r0 {
	right: 0 !important;
}
.ts10 {
	font-size: 10px !important;
}
.tcgray {
	color: #cdcdcd !important;
}