<body>
	<div class="container"><!--page__container-->

		<div id="main"><!--main-->
			<div id="mainArea" class="w980px"><!--mainArea-->
				<h1 id="logout">ログアウト</h1>
				<p class="lead__logout">
					ログアウトしました。
					<br>
					またいらしてくださいね。それまでにあなたの本棚をピカピカに磨いておきます！
					<br>
					<%= link_to 'もう一度ログインする場合はこちらから', user_session_path, class: :here_link %>
				</p>
			</div><!--mainArea-->

		<div class="clearfix"></div>
		</div><!--/.main-->

	</div><!--/.page__container-->
</body>